@import "../../styles/index.scss";

.button {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: $box-shadow;
    font-size: 0.8rem;

    &.white {
        background-color: #fff;
        color: $primary !important;
    }

    &.white:hover {
        background-color: #D4D4D8;
    }

    &.primary {
        background-color: $primary;
        color: #fff;
    }

    &.primary:hover {
        background-color: $primary-lighter;
    }

    &.secondary {
        background-color: $secondary;
        color: #fff;
    }

    &.accent {
        background-color: $accent;
    }

    &.large {
        padding: 0.5rem 1.75rem;
        font-size: 1rem;
    }
}