@import "../../styles/index.scss";

.button {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    &.white {
        background-color: #fff;
        color: $primary;
    }

    &.white:hover {
        background-color: #D4D4D8;
    }

    &.primary {
        background-color: $primary;
        color: #fff;
    }
}